
<div class="container">
  <article class="level-container">
    <header class="level-header">
      <div class="details-container">
        <h1 class="title-level">{{gameDetails.game}}</h1>
        <div>
          <h2 class="title-console">{{gameDetails.console}}</h2>
        </div>
      </div>
    </header>
    <div ng-repeat="level in levels">
        <h3 class="title-level"><a ng-href="/#/records/{{routeParams.console}}/{{routeParams.game}}/{{getUrlFriendly(level)}}">{{level}}</a></h3>
        <div class="row console">

          <div class="col-md-6 col-lg-6">
            <h4>Beste banetid</h4>
            <table class="table highscore-table">
            <thead>
            <tr>
            <th>#</th>
            <th>Rekord</th>
            <th>Rekordholder</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, record) in records | limitTo: 3 | filter: {level: level}">
            <td>{{key}}</td>
            <td>{{record.time}}</td>
            <td>{{record.nickname}}</td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
    </div>
  </article>
</div>