<h1>{{description.level}}</h1>
<h2>{{description.game}}</h2>
<h3>{{description.console}}</h3>
<div class="row consoles">
  <div class="col-md-6">
  <ul class="highscore-list">
    <li class="record" ng-class="{
        big: (key+1) === 1,
        medium: (key+1) > 1,
        first: (key+1) === 1,
        second: (key+1) === 2,
        third: (key+1) === 3
      }" ng-repeat="(key, record) in level">
      <img ng-show="(key+1) === 1" ng-src="http://127.0.0.1:8080/images/1200/{{record._id}}-0.jpg">
      <img ng-show="(key+1) > 1" ng-src="http://127.0.0.1:8080/images/600/{{record._id}}-0.jpg">
      <div class="record-position">{{key+1}}</div>
      <div class="description">
        <p class="nickname">{{record.nickname}}</p>
        <p class="time">{{record.time}}</p>
      </div>
    </li>
  </ul>
  </div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Rekord</th>
          <th>Rekordholder</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, record) in level">
          <td>{{key}}</td>
          <td>{{record.time}}</td>
          <td>{{record.nickname}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>