<ul class="records">

  <li class="record" ng-repeat="record in records">
      <div class="image-container">

          <img ng-src="http://127.0.0.1:8080/images/600/{{record._id}}-0.jpg">

      </div>
      <div class="record-details">
                      <a ng-href="
      /#/records/{{getUrlFriendly(record.console)}}/{{getUrlFriendly(record.game)}}/{{getUrlFriendly(record.level)}}">

        <p class="nickname">{{record.nickname}}</p>
        <h3 class="score" ng-show="record.time && record.type === 'shortestTime' || record.time && record.type === 'longestTime'">{{record.time}}</h3>
        <h3 class="score" ng-show="record.time && record.type === 'highestScore' || record.time && record.type === 'lowestScore'">{{record.score}}</h3>
        <p class="console-game"><span class="console">{{record.console}}</span><span class="game">{{record.game}}</span></p>
      </div>
      </a>
  </li>

</ul>