@import 'compass';

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower




/* Space out content a bit */



body, html {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Lato';
    background-color: #1D201F;
    padding: 0;
    margin: 0;
}

@include font-face("Retro", font-files("PressStart2P-Regular.ttf"));


.fullScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    position: relative;
    &.retro {
        font-family: "Retro";
        width: 100%;
        height: auto;
        text-align: center;

        ul {
            width: auto;
            margin: 0 auto;
            text-align: center;
            li{
                display: inline-block;
                padding: 10px;
                &.selected {
                    a {
                        color: white;
                        text-decoration: underline;
                    }
                }
                a {
                    color: #a7a7cb;
                    font-size: 10px;
                    text-shadow:2px 2px #0a245b;
                    &:hover {
                        color: lighten(#a7a7cb, 10%);
                    }
                }
            }
        }
    }

}

.container {
    max-width: 600px;
    position: relative;
    &.retro {
        font-family: "Retro";
        .level-container {
            .level-header {
                .details-container {
                    .title-level {
                        color: #feaf00;
                        text-shadow:3px 3px #b00000;
                    }
                    .title-console {
                        color: white;
                        text-shadow:2px 2px #0a245b;
                        font-size: 16px;
                    }
                    .title-game {
                        color: white;
                        text-shadow:2px 2px #0a245b;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.table {
    &.retro {
        text-transform: uppercase;
        font-size: 16px;
        thead {
            tr {
                th {
                    text-shadow:2px 2px #FF0000;
                    color: white;
                    border-bottom: 0;
                    border-top: 0;
                }
            }
        }
        tbody {
            tr {
                td {
                    color: white;
                    border-bottom: 0;
                    border-top: 0;
                    text-shadow:2px 2px #0a245b;
                }
            }
            tr:first-child {
                td {
                    color: #feaf00;
                    text-shadow:2px 2px #b00000;
                    &:first-child {
                        &:after {
                            content: "st";
                        }
                    }
                }
            }
            tr:nth-child(2),
            tr:nth-child(3) {
                td {
                    color: #52fdfd;
                }
            }
            tr:nth-child(2) {
                td {
                    &:first-child {
                        &:after {
                            content: "nd";
                        }
                    }
                }
            }
            tr:nth-child(3) {
                td {
                    &:first-child {
                        &:after {
                            content: "rd";
                        }
                    }
                }
            }
        }
    }
}

.topbar {
    width: 100%;
    position: fixed;
    background-color: #111212;
    border-bottom: 1px solid #3a3a3a;
    position: relative;
    text-align: right;

    .page-title {
        position: absolute;
        color: white;
        top: 8px;
        left: 10px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 900;
    }
    .page-menu {
        padding: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-size: 170pxpx;
                padding: 20px;
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 900;
                &.new-record-link-container {
                    padding: 0;
                    @include border-radius(10px);
                    background-color: #3d91c3;
                    a {
                        display: inline-block;
                        padding: 20px;
                        color: white;
                    }
                }
            }
        }
    }
}

* {
    @include box-sizing(border-box);
}

.level-container {
    .level-header {
        .details-container {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            .title-level {
                color: white;
                display: block;
                padding: 10px;
                margin: 0;
            }

            .title-game,
            .title-console {
                vertical-align: top;
                display: inline-block;
                color: #2d6281;
                font-size: 20px;
                padding: 10px;
                margin: 0;
            }
            .title-game {
                color: #428bca;
                padding: 10px;
                margin: 0;
            }
        }
    }
}

.topbanner {
    background-color: rgba(0,0,0,0.1);
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .newest-container {
        overflow: hidden;
        position: relative;
        vertical-align: top;

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.4);
            padding: 10px;
            color: white;
        }

        &:nth-child(1) {
            width: 70%;
            display: inline-block;
            padding: 0;
            float: left;
            height: 340px;
            border-right: 1px solid white;

            .record {
                font-size: 60px;
                @include single-text-shadow(2px 2px 10px 1px rgba(0,0,0,1));
            }
        }

        &:nth-child(2) {
            width: 30%;
            display: inline-block;
            padding: 0;
            float: right;
            height: 170px;
            border-bottom: 1px solid white;

            .record {
                font-size: 30px;
            }
        }

        &:nth-child(3) {
            width: 30%;
            display: inline-block;
            padding: 0;
            float: right;
            height: 170px;

            .record {
                font-size: 30px;
            }
        }

        &:nth-child(4) {
            width: 50%;
            display: inline-block;
            padding: 0;
            float: left;
            height: 230px;
            border-right: 1px solid white;
            border-top: 1px solid white;

            .record {
                font-size: 40px;
            }
        }

        &:nth-child(5) {
            width: 50%;
            display: inline-block;
            padding: 0;
            float: left;
            height: 230px;
            border-top: 1px solid white;

            .record {
                font-size: 40px;
            }
        }
    }
}
.btn {
    margin-bottom: 10px;
}
.col-md-4 {
    .highscore-shortlist-container {
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        @include border-radius(8px);

        .level-image {
            position: relative;
            overflow: hidden;
            img {
                min-width: 100%;
            }
            .number-one {
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 10px 30px 10px 30px;
                background-color: #581dde;
                color: white;
                text-align: center;
                @include border-radius(100%);
                .one {
                    font-size: 40px;
                    margin-top: -10px;
                }
            }
        }

        ol {
            border-top: 2px solid rgba(0,0,0,0.2);
            li {
                font-size: 16px;
                border-bottom: 2px solid rgba(0,0,0,0.2);
                &:nth-child(1) {
                    font-size: 22px;
                }
                &:nth-child(2) {
                    font-size: 20px;
                }
                &:nth-child(3) {
                    font-size: 18px;
                }
            }
        }
    }
}

.circle {
    background-color: grey;
    padding: 4px;
    @include border-radius(50%);
    color: white;

    &.games {
        background-color: #a43f8b;
    }

    &.levels {
        background-color: #5e3fa4;
    }

    &.records {
        background-color: #581dde;
    }
}

.consoles {
    .title-level {
        text-align: center;
        padding-bottom: 10px;
        font-size: 23px;
        color: white;
        border-bottom: 1px solid #428bca;
    }
    h3 {
        font-size: 18px;
    }
    div {
        div {
            line-height: 32px;
        }
    }
}

.image-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .image-container {
        display: inline-block;
        margin-right: 10px;
        .image {
            width: 100%;
            max-width: 300px;
            height: auto;
            border: 1px solid black;
            overflow: hidden;
            margin-bottom: 10px;
            display: block;
            .image {
                width: 100%;
            }
        }
    }
    .comment {
        vertical-align: top;
        width: 100%;
        max-width: 150px;
        display: block;
    }
}

.records-container {
    padding: 10px;
    margin-bottom: 10px;
    @include border-radius(5px);
    background-color: rgba(0,0,0,0.05);
    position: relative;

    .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &.rejected {
            background-color: rgba(255,0,0,0.2);
        }
        &.approved {
            background-color: rgba(0,255,0,0.2);
        }
    }

    .record-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .details {
        height: auto;
        overflow: hidden;
        @include transition(all 200ms linear);
        &.rejected,
        &.approved {
            background-color: transparent;
            height: 0;
            @include transition(all 200ms linear);
        }
    }
}
.highscore-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .record {
        vertical-align: top;
        display: inline-block;
        position: relative;
        img {
            max-width: 100%;
        }

        .record-position {
            position: absolute;
            text-align: center;
            @include border-radius(50%);
            padding: 27px 40px;
            font-size: 40px;
            color: white;
            background-color: #232324;
            bottom: 30px;
            right: 30px;
            z-index: 100;
        }
        &.first {
            .record-position {
                background-color: #c8ae1f;
            }
        }
        &.second {
            .record-position {
                background-color: #838383;
            }
        }
        &.second {
            .record-position {
                background-color: #79441d;
            }
        }

        .description {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.4);
            color: white;
            padding: 10px;
            .nickname {
                font-size: 14px;
                padding: 0;
                margin: 0;
            }
            .time {
                font-size: 46px;
                padding: 0;
                margin: 0;
            }

        }

        &.big {
            width: 66.5%;
            float: left;
        }

        &.medium {
            width: 33.5%;
            float: right;
            .record-position {
                font-size: 30px;
                padding: 200mspx 30px;
                right: 15px;
                bottom: 15px;
            }
            .description {
                .nickname {
                    font-size: 12px;
                }
                .time {
                    font-size: 26px;
                }
            }
        }

        &.small {
            width: 33.3333333%;
            .record-position {
                font-size: 15px;
                padding: 1px 12px;
                right: 5px;
                bottom: 5px;
            }
        }
    }
}


.records {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    position: relative;

    .record {
        width: 23%;
        margin: 1%;
        display: inline-block;

        position: relative;
        background-color: #2E3444;

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border: 0px solid #2E3444;
            z-index: 100;
            top: 0;
            left: 0;
            @include transition(all 200ms linear);
        }


        &:hover {
            &:after {
                border: 10px solid #2E3444;
                @include transition(all 200ms linear);
            }
            .record-details {
                bottom: 40px;
                @include transition(all 200ms linear);
            }
        }

        .image-container {
            max-height: 250px;
            overflow: hidden;
            margin-bottom: 75px;
            img {
                max-width: 100%;
            }
        }
        .record-details {
            color: white;
            padding: 10px;
            width: 100%;
            background-color: #2E3444;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: left;
            z-index: 200;
            @include transition(all 200ms linear);
            .nickname {
                padding: 0;
                margin: 0;
                font-size: 12px;
            }
            .score {
                font-size: 19px;
                padding: 0;
                margin: 0;
            }
            .console-game {
                margin: 0;
                padding: 0;
                font-size: 13px;
            }
        }
    }
}

.highscore-table {
    thead {
        background-color: #428bca;
        color: white;
        tr {
            th {
                border-bottom: 4px solid #1D201F;
                font-size: 16px;
                padding: 14px;
            }
        }
    }
    td {
        padding: 10px;
    }
    tbody {
        background-color: #1f3a4b;
        color: white;
        tr {
            td {
                border-bottom: 2px solid #1D201F;
                font-size: 16px;
                padding: 14px;
            }
        }
    }
}


/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .record-line
  class
*/
.record-line.ng-enter, .record-line.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.record-line.ng-enter.ng-enter-active,
.record-line.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .record-line class
*/
.record-line.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}