<div class="header retro">
  <ul>
    <li ng-class="{selected: params.type === 'shortestTime'}">
      <a ng-href="/#/live/{{params.console}}/{{params.game}}/{{params.level}}/shortestTime">
        Korteste tid
      </a>
    </li>
    <li ng-class="{selected: params.type === 'longestTime'}">
      <a ng-href="/#/live/{{params.console}}/{{params.game}}/{{params.level}}/longestTime">
        Lengst tid
      </a>
    </li>
    <li ng-class="{selected: params.type === 'highestScore'}">
      <a ng-href="/#/live/{{params.console}}/{{params.game}}/{{params.level}}/highestScore">
        Høyest poengsum
      </a>
    </li>
    <li ng-class="{selected: params.type === 'lowestScore'}">
      <a ng-href="/#/live/{{params.console}}/{{params.game}}/{{params.level}}/lowestScore">
        Lavest poengsum
      </a>
    </li>
  </ul>
</div>
<div class="container retro">
  <article class="level-container">
      <header class="level-header">
        <div class="details-container">
          <h1 class="title-level">{{convertedParams.level}}</h1>
          <div>
            <h2 class="title-game">{{convertedParams.game}}</h2>
            <h3 class="title-console">{{convertedParams.console}}</h3>
          </div>
      </div>
    </header>
  <table class="table retro">
        <thead>
          <tr>
              <th>
                Rank
              </th>
              <th>
                Score
              </th>
              <th>
                Name
              </th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="(key,record) in records | orderBy:'milliseconds'" class="record-line">
            <td>{{key+1}}</td>
            <td ng-show="record.type == 'shortestTime' || record.type == 'longestTime'">
              <div ng-click="setEditRecord(record)">{{record.time}}</div>
              <div ng-show="editRecord._id === record._id"><input type="text" ng-model="editRecord.time"></div>
            </td>
            <td ng-show="record.type == 'highestScore' || record.type == 'lowestScore'">
              <div ng-click="setEditRecord(record)">{{record.score}}</div>
              <div ng-show="editRecord._id === record._id"><input type="text" ng-model="editRecord.score"></div>
            </td>
            <td>
              {{record.nickname}}
              <div ng-show="editRecord._id === record._id">
                <div ng-show="editRecord._id === record._id"><input type="text" ng-model="editRecord.nickname"></div>
                <button class="btn btn-primary" ng-click="updateRecord(record)">Update</button>
                <button class="btn btn-primary" ng-click="deleteRecord(record)">Delete</button>
                <button class="btn btn-primary" ng-click="closeEditRecord()">close</button>
              </div>
            </td>
          </tr>
      </tbody>
  </table>
  </article>
</div>